.policy-container {
  overflow: hidden;
 
  .policy-desc {
    padding: 40px 40px;
    width: 50%;
  }

  p {
    line-height: 20px;
    font-size: 12px;
  }
  .policy-img {
    width: 80%;
  }

  h1 {
    color: #3f4554;
    font-size: 3.5rem;
    font-weight: 700;
  }
}
