.verify-email-container {
  overflow: hidden;
  height: 100vh;
  .divider-1 {
    height: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: midnightblue;
    position: relative;
  }
  .forgotPs-label {
    text-align: center !important;
    margin-top: 35px;
    margin-bottom: 20px;
    font-size: 20px;
    color: midnightblue;
  }
  .forgotPs-title {
    color: white;
  }
  .forgotPs-form {
    box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px,
      rgba(0, 0, 0, 0.1) 0px 2px 4px 0px,
      rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
    background-color: white;
    position: absolute;
    top: 20vh;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 40px;
  }
  .forgotPs-desc {
    font-size: 11px;
    font-weight: 500;
    color: black;
    text-align: center;
    margin-bottom: 25px;
  }
  .form-control {
    margin-bottom: 25px;
  }
  .submit-btn {
    width: 100%;
    background-color: midnightblue;
    color: white;
    height: 40px;
    border: 1px solid midnightblue;
  }
  .back-to-login {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    cursor: pointer;
    margin-top: 5px;
    margin-left: 15px;
    color: black;
  }
  .back-to-login:hover {
    text-decoration: underline !important;
  }
  .forgotPs-img {
    display: flex;
    align-items: center;
    margin: 20px auto;
  }
}

.phone {
  .verify-email-container {
    .forgotPs-form {
      width: 80%;
      left: 10%;
    }
  }
}

.tablet {
  .verify-email-container {
    .forgotPs-form {
      width: 60%;
      left: 20%;
    }
  }
}

.desktop {
  .verify-email-container {
    .forgotPs-form {
      width: 40%;
      left: 30%;
    }
  }
}
