.auth-template-container {
  overflow: hidden;
  .nav {
    background-image: linear-gradient(to bottom right, #000428, #004e92);
    height: 15vh;
  }
  .menu-tiles-container {
    margin-right: 10vw;
    margin-left: 10vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    height: 80vh;
    .card {
      z-index: 2;
      background-image: linear-gradient(to bottom right, #ff512f, #dd2476);
      height: 20vh;
      cursor: pointer;
      border-radius: 0px;
      .card-body {
        display: flex;
        align-items: center;
        justify-content: center;
        .card-title {
          display: flex;
          align-items: center;
          justify-content: center;
          margin-top: 0 !important;
          margin-bottom: 0 !important;
          color: white;
        }
      }
    }
  }
  .profile-icon {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    cursor: pointer;
    svg {
      fill: #dd2476;
    }
  }
  .logout-icon {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    cursor: pointer;
    padding-right: 40px !important;
    svg {
      fill: #dd2476;
    }
  }

  .menu-icon {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    cursor: pointer;
    svg {
      fill: #dd2476;
    }
  }
  .links {
    display: flex;
    padding-left: 5vw;
    color: white;
    align-items: center;
  }
  a {
    text-decoration: none !important;
  }
  .project-title {
    font-size: 32px;
    font-weight: bold;
    color: red;
    background: -webkit-linear-gradient(#ff512f, #dd2476);
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

.rc-dropdown {
  .rc-menu {
    width: 120px;
    padding: 10px;
    .rc-menu-item {
      padding: 5px;
      cursor: pointer;
    }
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
  .auth-template-container .menu-tiles-container {
    margin-right: 0vw;
    margin-left: 0vw;
    flex: 50%;
    max-width: 100%;

    .card {
      width: 95%;
    }
  }
}

.phone {
  .auth-template-container {
    .menu-tiles-container {
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      justify-content: space-evenly;
      margin-right: 5vw;
      margin-left: 5vw;
      scroll .card {
        margin-bottom: 40px;
        width: 10vh;
        height: 10vh;
      }
    }
    .card {
      height: 20vh;
    }
    .links {
      padding-left: 8vw;
    }
    .project-title {
      font-size: 20px;
    }
    .logout-icon {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      cursor: pointer;
      padding-right: 9px !important;
      width: 34px;
    }
    .profile-icon {
      width: 34px;
    }
  }
}

.phone,
.tablet {
  .auth-template-container {
    .desktop-nav {
      display: none;
    }
    .menu-nav {
      padding: 0;
    }
  }
}

.desktop {
  .auth-template-container {
    .menu-nav {
      display: none;
    }
  }
}
