.back-navigation {
  background-image: linear-gradient(to bottom right, #000428, #004e92);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 !important;
  height: 10vh;
  h3 {
    color: white;
  }
  svg {
    fill: white;
  }
  .profile-icon {
    display: flex;
    justify-content: flex-end;
    cursor: pointer;
    padding-right: 40px !important;
  }
  .back-icon {
    color: white;
    cursor: pointer;
    padding-left: 40px !important;
  }
}
